body {
background-image: url(/unit-4-game/assets/images/Funky-Background.jpg);
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
width: 100%;
}

/* .container {

} */

#headerBox {
    background-color: pink;
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

#instructionBox {
    background-color: aquamarine;
    margin-bottom: 15px;
    padding: 20px;
}

#userScore {
    background-color: yellow;
    text-align: center;
}

.crtlPanel {
    margin-bottom: 15px;
}

#cpuGuess {
    background-color: red;
    text-align: center;
}

.scoreBox {
    background-color: greenyellow;
    text-align: center;
    /* margin-bottom: 150px; */
}

.images {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

